.shelfstack{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    padding: 10px;
    justify-content: flex-end;
}
.content-stack{
    /* background-color: blue; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
}
.boundary{
    width: 10px;
    /* height: 100px; */
    background-image: url('/assets/boundary.png');
    background-repeat: repeat;
    float: left;
}