.shelfstack{
    border: 5px #643c13 solid;
    box-shadow: #967d64;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

}
.content-stack{
    /* background-color: blue; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    width: 100%;
}
.boundary{
    width: 10px;
    /* height: 100px; */
    background-image: url('/assets/boundary.png');
    background-repeat: repeat;
    float: left;
}