<div class="wholequote">
    <p class="{{thoughtclass}}" innerHtml="{{thought.thought}}"></p>
    <img *ngIf="thought.image" src="{{thought.image}}"/>
    <p class="context" *ngIf="thought.context">
        Context: {{thought.context}}
    </p>
    <div style="display:flex;flex-direction: row;justify-content: center;">
        <div>
        <!-- <Button id="tweetBtn"class="btn btn-light btn-sm opt2"> -->
            <!-- <ngx-twitter-share
            [url]="'https://junglechats.herokuapp.com/quotes'"
            [options]="shareOptions" >
          </ngx-twitter-share> -->
        <!-- </Button> -->
        </div>
        <div>
        </div>
    </div>
</div>
