.main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
iframe{
    margin: auto;
    width: 80%;
    height: 90%;
}