<ol *ngIf="dataType==='list'">
    <li *ngFor="let element of listData.data">
        <app-json-table *ngIf="listData.type==='recurse'" [json]="element"></app-json-table>
        <div *ngIf="listData.type==='base'">
            {{element}}
        </div>
    </li>
    <div *ngIf="listData.data.length===0">
        <strong>
            Empty List
        </strong>
    </div>
</ol>
<table *ngIf="dataType==='table'">
    <tr>
        <th>
            Key
        </th>
        <th>
            Value
        </th>
    </tr>
    <tr *ngFor="let row of tabularData">
        <td>
            {{row.key}}
        </td>
        <td>
            <app-json-table *ngIf="row.type==='recurse'" [json]="row.value"></app-json-table>
            <div *ngIf="row.type==='base'">{{row.value}}</div>
        </td>
    </tr>
</table>