.groupdiv{
  margin-left: min(2%,50px);
  border: 5px solid lightgray;
  padding: min(1%,10px);
  border-radius: 5px;
}
div.songs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
}