<div class="main">
    <app-shelfstack>
        <app-shelf>
            <p style="color: aliceblue;">Hey There</p>
        </app-shelf>        
        <app-shelf></app-shelf>
    </app-shelfstack>
    <app-shelfstack>
        <app-shelf>
        </app-shelf>
        <app-shelf></app-shelf>
    </app-shelfstack>
</div>
<app-shelf [absPos]="[200,100]" [label]="'My Awesome Resumes'" [plaqueType]="2">
</app-shelf>
<app-shelf [absPos]="[400,300]" [label]="'My Awesome Writeups'" [plaqueType]="1"></app-shelf>
