<div class="main">
    <app-shelfstack [width]="getshelfstackwidth()">
        <app-shelf>
            <p style="color: aliceblue;">Hey There</p>
        </app-shelf>        
        <app-shelf></app-shelf>        

    </app-shelfstack>
    <app-shelfstack [width]="getshelfstackwidth()">
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>
        <app-shelf></app-shelf>

    </app-shelfstack>
    <app-shelfstack [width]="getshelfstackwidth()">
        <app-shelf></app-shelf>
    </app-shelfstack>
</div>