<!-- <div class="main">
    <div *ngIf="!dataLoaded">
        Loading...
    </div>
    <div *ngIf="dataLoaded">
        <div class="bloglist" *ngIf="activePost==null">
            <div class="searchbar">
                <input placeholder="Search through titles..." />
            <button>
                Search
            </button>
            </div>
            <div class="postbox">
                <div *ngFor="let post of filteredBlogPosts" class="post" (click)="goToPost(post.docId)">
                    <app-plaque [label]="post.title" [plaqueType]="2"></app-plaque>
                </div>
            </div>
        </div>
        <div *ngIf="activePost!=null" class="post">
        </div>
    </div>
</div> -->
<div class="link">
    You must go to
    <a href="https://drive.google.com/drive/folders/1oKO2LteQho8BY7bHiSwjNxT9F_rRuNhS?usp=drive_link">
        this folder!
    </a>
    <br>
    Or check 
    <a href="https://medium.com/@hardikraj08">the medium page.
    </a>
</div>