.main{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
}
input{
    border-radius: 10px;
    width: 400px;
}
.postbox{
    display: flex;
    flex-wrap: wrap;
}