.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
    background-image: url('https://raw.githubusercontent.com/hardik-rajpal/VialRack/master/src/assets/bgtile3.jpg');
    
    /* height: 100%; */
}
app-shelfstack{
    width: 60%;
}
