.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-end;
    background-image: url('https://raw.githubusercontent.com/hardik-rajpal/VialRack/master/src/assets/bgtile3.jpg');
    
    /* height: 100%; */
}
app-shelfstack{
    width: 60%;
}
div.box{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 3px solid lightgrey;
    width: min-content;
}
div.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: masonry;
}