.shelf{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    justify-content: flex-end;
    margin-top: 10px;
}
/* .shelf>*{
    position: sticky;
} */
div.plaqueparts{
    display: flex;
    flex-direction: row;

}
.p1{
    background-image: url('https://raw.githubusercontent.com/hardik-rajpal/VialRack/master/src/assets/plaques/plaque1mid.png');
    height: 50px;
}
.p2{
    background-image: url('https://raw.githubusercontent.com/hardik-rajpal/VialRack/master/src/assets/plaques/plaque2mid.png');
    height: 50px;
}
div.plaque{
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: blue; */
}
div.plaque>p{
    margin: 0;
}
