/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; margin: 0; padding: 0;}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('/assets/bgtile3.jpg');
    background-size: 200px;
    background-repeat: repeat;
}

button{
    background-image: url('/assets/bgtile2.jpg');
    border-radius: 5;
    padding: 10px;
}